body {
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #242B33;
}
.title {
    color: #D4C17F;
    font-family: 'Playfair Display', serif;
    
}
.menu-link {
    color: #ffff
    ;
}